@keyframes blink-caret {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
}

.typewriter-caret {
  display: inline-block;
  width: 5px;
  height: 1em;
  margin-left: 1px;
  vertical-align: text-bottom;
  background-color: currentColor;
  animation: blink-caret 1s ease-in-out infinite;
}
